common: &common
  username: root
  password:
  encoding: utf8
  host:     localhost
  database: activerecord_import_test

mysql: &mysql
  <<: *common
  adapter: mysql
  strict: false

mysql2: &mysql2
  <<: *common
  adapter: mysql2
  strict: false

em_mysql2:
  <<: *common
  adapter: em_mysql2
  pool: 5

mysqlspatial:
  adapter: mysql
  strict: false

mysqlspatial2:
  adapter: mysql2
  strict: false

seamless_database_pool:
  <<: *common
  adapter: seamless_database_pool
  pool_adapter: mysql2
  master:
    host: localhost

postgresql: &postgresql
  <<: *common
  username: postgres
  adapter: postgresql
  min_messages: warning

postgis:
  username: postgres
  adapter: postgresql
  min_messages: warning

oracle:
  <<: *common
  adapter: oracle
  min_messages: debug

sqlite: &sqlite3
  adapter: sqlite
  dbfile: test.db

sqlite3: &sqlite3
  adapter: sqlite3
  database: test.db

spatialite:
  <<: *sqlite3
